.title {
    font-family: Raleway;
    color: black;
    text-align: center;
}

.flex {
  display: flex;
  align-items: row;
  text-align: center;
}


li {
  list-style-type: none !important;
}
 a {
  text-decoration: none;
 }

 a:hover {
  color: aqua !important;
 }
.navbar {
  color: black !important;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}
.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/* Form UI */
.form {
  color: black !important;
}

.signup {
  text-align: center;
}

.button {
  background-color: #08c580; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2.5px;
}

.button:hover {
  opacity: 0.7;
  
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

input {
  width: 50%;
  padding: 12px 8px;
  margin: 8px 8px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.expenseName {
  width: 33%;
  margin: 8px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus {
   border: 1.5px solid black;
}

select {
  width: 40%;
  font-size: 16.5px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
